**/.git
**/backups
discord/deletecommands/*
elemental/cleansuggs/*
elemental/fixelems/*
elemental/giveall/*
elemental/hashpwds/*
eod/adddifficulty/*
eod/catconv/*
eod/deletecommands/*
nv7haven/babynames/*